/JuceLibraryCode
*.zip
*.exe
*.dll
*.sdf
*.obj
*.lib
*.pdb
*.log
*.tlog
*.idb
*.res
*.rc
*.exp
build
jmidiosctrigger/Builds/CodeBlocksWindows
jmidiosctrigger/Builds/VisualStudio2022/x64
jmidiosctrigger/Builds/VisualStudio2022/.vs
alt
Reaper
Projucer/examples
Projucer/docs
Projucer/extras